<mat-card class="pokemon-card">
  <mat-card-header>
    <mat-card-title>Nom : {{pokemon.name}}</mat-card-title>
    <mat-card-subtitle>ID : {{pokemon.id}}</mat-card-subtitle>
  </mat-card-header>
  <img alt="Photo du pokémon" mat-card-image src="{{pokemon.sprites.front_default}}">
  <mat-card-content>
    <mat-card-actions>
      <mat-label>Poids : {{pokemon.weight}}</mat-label>
      <br>
      <mat-label>Taille : {{pokemon.height}}</mat-label>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
