<h1> Découverte d'Angular </h1>

Entrez quelque chose :<input [(ngModel)]="id"><br>
Votre entrée : <input readonly value="{{id}}">

<h1> Tri des pokémons par leur nom </h1>

<p>
  <label>Trier par nom</label>
  <input type="text" class="form-control" name="name" [(ngModel)]="filter.results.name">
</p>
<select [(ngModel)]="pokemonChoisi">
  <option *ngFor="let pokemonTrie of pokemonsInSelect.results| FilterPipe:filter"
          value="{{ pokemonTrie.name }}">{{pokemonTrie.name}}</option>
</select>

<button (onClick)="getPokemonInfo(pokemonChoisi)">Je choisis ce pokémon !</button>

<table>
  <thead>
  <th>Liste non triée</th>
  </thead>
  <tbody>
  <tr *ngFor="let pokemon of pokemons.results">
    <td>{{pokemon.name}}</td>
  </tr>
  </tbody>
</table>
