<h1> Découverte d'Angular </h1>

Entrez quelque chose :<input [(ngModel)]="id"><br>
Votre entrée : <input readonly value="{{id}}">

<h1> Tri des pokémons par leur nom </h1>

<p>
  <label>Trier par nom</label>
  <input type="text" class="form-control" name="name">
</p>

<table>
  <thead>
  <th>Liste triée</th>
  </thead>
  <tbody>
  <tr *ngFor="let pokemonTrie of pokemonsInSelect.results">
    <td>{{pokemonTrie.name}}</td>
  </tr>
  </tbody>
</table>
<table>
  <thead>
  <th>Liste non triée</th>
  </thead>
  <tbody>
  <tr *ngFor="let pokemon of pokemons.results">
    <td>{{pokemon.name}}</td>
  </tr>
  </tbody>
</table>
